.card
  .card__header(
    :class="pokes.types[0].type.name === `grass` ? `card__header--grass` : pokes.types[0].type.name === `fire` ? `card__header--fire` : pokes.types[0].type.name === `water` ? `card__header--water` : pokes.types[0].type.name === `bug` ? `card__header--bug` : pokes.types[0].type.name === `fighting` ? `card__header--fighting` : pokes.types[0].type.name === `poison` ? `card__header--poison` : pokes.types[0].type.name === `flying` ? `card__header--flying` : pokes.types[0].type.name === `ground` ? `card__header--ground` : pokes.types[0].type.name === `rock` ? `card__header--rock` : pokes.types[0].type.name === `ghost` ? `card__header--ghost` : pokes.types[0].type.name === `steel` ? `card__header--steel` : pokes.types[0].type.name === `electric` ? `card__header--electric` : pokes.types[0].type.name === `psychic` ? `card__header--psychic` : pokes.types[0].type.name === `ice` ? `card__header--ice` : pokes.types[0].type.name === `dragon` ? `card__header--dragon` : pokes.types[0].type.name === `dark` ? `card__header--dark` : pokes.types[0].type.name === `fairy` ? `card__header--fairy` : `card__header--normal`"
  )
    .card__header__backgroundImg
    img.card__header__image(
      :src="`https://raw.githubusercontent.com/HybridShivam/Pokemon/master/assets/images/${String(pokes.id).padStart(3, '0')}.png`"
    )
  .card__title {{ pokes.name[0].toUpperCase() + pokes.name.slice(1) }}
  ul.card__types
    li.card__types__items(
      v-for="pokeType in typesPoke",
      :key="pokeType.name",
      :class="pokeType.name === `grass` ? `card__types__items--grass` : pokeType.name === `fire` ? `card__types__items--fire` : pokeType.name === `water` ? `card__types__items--water` : pokeType.name === `bug` ? `card__types__items--bug` : pokeType.name === `fighting` ? `card__types__items--fighting` : pokeType.name === `poison` ? `card__types__items--poison` : pokeType.name === `flying` ? `card__types__items--flying` : pokeType.name === `ground` ? `card__types__items--ground` : pokeType.name === `rock` ? `card__types__items--rock` : pokeType.name === `ghost` ? `card__types__items--ghost` : pokeType.name === `steel` ? `card__types__items--steel` : pokeType.name === `electric` ? `card__types__items--electric` : pokeType.name === `psychic` ? `card__types__items--psychic` : pokeType.name === `ice` ? `card__types__items--ice` : pokeType.name === `dragon` ? `card__types__items--dragon` : pokeType.name === `dark` ? `card__types__items--dark` : pokeType.name === `fairy` ? `card__types__items--fairy` : `card__types__items--normal`"
    ) {{ pokeType.name }}
